/* Basic */

html {
  font-family: "PingFang SC", Helvetica;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 2em; font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

/* 用于右上角标识 */
h3 {
  text-align: right;
  margin-top: 0;
  line-height: 1.5rem;
}

.remark-slide-number {
  font-size: 0.7rem;
}

.remark-slide-content {
  font-size: 1rem;
  vertical-align: middle;
}

.remark-slide-content h1 {
  font-size: 4rem;
}

.remark-slide-content h2 {
  font-size: 3rem;
}

.remark-slide-content h3 {
  font-size: 1.8rem;
}

ul, ol {
  line-height: 3rem;
}

a {
  color: #6c6ccc;
}

p {
  line-height: 2rem;
}

em {
  padding-left: 1px;
  padding-right: 3px;
  color: #B15455;
}

strong {
  font-size: 1.2rem;
}

blockquote {
  border-left: solid #eee;
  margin-left: 0;
  padding-left: 1rem;
}

pre {
  border-left: 0.3rem solid #d7d7d7;
  padding: 0 1em !important;
}

.remark-code {
  font-family: "Hack";
  background: transparent !important;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.remark-inline-code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: rgba(27,31,35,0.05);
  border-radius: 5px;
}
.remark-inline-code::before, .remark-inline-code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

video {
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* Custom Classes */

.cover {
  text-align: center;
  background: #272822;
  text-shadow: 0 0 20px #333;
  color: #f3f3f3;
}
.cover h1 {
  font-size: 4rem;
}

.remark-slide-content img {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  margin: auto;
}

.bigfont {
  font-size: 2em;
}

.middlefont {
  font-size: 1.5em;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.tip {
  font-size: 0.8rem;
  display: block;
  line-height: 1.2rem;
  color: #888;
}
.tip::before {
  content: "Tip: ";
}

